<html>
    <head>
            <link rel="stylesheet" 
            href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" 
            integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" 
            crossorigin="anonymous">
        <link rel="stylesheet" 
            href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" 
            crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.1.1.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" 
            integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" 
            crossorigin="anonymous">
        </script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.js"
            crossorigin="anonymous" >
        </script>

        <!-- ES 6 -->
        <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>

        <!-- React -->
        <script src="/lib/react/react.js"></script>
        <script src="/lib/react/react-dom.js"></script>
        <!-- script src="lib/react/JSXTransformer.js"></script -->

        <!-- Custom -->
        <script src="/js/main.js"></script>
        <script src="/js/polls.js" type="text/babel" ></script>
        
        <link rel="stylesheet"        href="/main.css">
    </head>
    <body>
        
        <div class="container">
        <%- include('../partials/header', {title: title}); %>
        <br />

        <% if (!user) { %>
            <%- include('./../partials/loggedOutBar'); %>
        <% } else { %>
            <%- include('./../partials/navBar', {user: user}); %>        
            <h3> <%= user.username %> </h3>
            <script type="text/javascript"> 
                var user = <%- userString  %>
            </script>

        <% } %>


        <br />
        <div id="test-point"></div>
            
        <div id="mount-point"></div>


        <div id="polls-container" class="polls-container">
        </div>



        </div>

    </body>
</html>